/*---------------------------
** IMPORTS
**---------------------------*/

@import '../../Theme/Variables.scss';

/*---------------------------
** PLAYLIST SUBMIT FORM
**---------------------------*/

.movie--submit__outer-wrapper {
    padding: 6rem 8rem;

    form.movie--submit {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h3 {
            margin-bottom: 2rem;
        }

        .group-left {
            flex: 0 1 48%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            .form--button__wrapper {
                margin-top: 4rem;
            }

            .message {
                margin-top: 4rem;
            }

        }

    }

}