/*---------------------------
** IMPORTS
**---------------------------*/

@import '../../Theme/Variables.scss';


/*---------------------------
** ALBUM HEADER
**---------------------------*/

.playlist--header__wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 6rem 8rem;
    //border-bottom: 0.1rem solid $color-greyscale-2;
    cursor: default;
    background-color: $color-greyscale-1;
    //background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
    //box-shadow: 0 0 3rem 0 rgba(0,0,0,0.15);
    background-image: linear-gradient(135deg, rgba(90, 90, 90, 0.33) 0%, rgba(90, 90, 90, 0.33) 14.286%,rgba(77, 77, 77, 0.33) 14.286%, rgba(77, 77, 77, 0.33) 28.572%,rgba(64, 64, 64, 0.33) 28.572%, rgba(64, 64, 64, 0.33) 42.858%,rgba(51, 51, 51, 0.33) 42.858%, rgba(51, 51, 51, 0.33) 57.144%,rgba(38, 38, 38, 0.33) 57.144%, rgba(38, 38, 38, 0.33) 71.43%,rgba(25, 25, 25, 0.33) 71.43%, rgba(25, 25, 25, 0.33) 85.716%,rgba(12, 12, 12, 0.33) 85.716%, rgba(12, 12, 12, 0.33) 100.002%),linear-gradient(45deg, rgb(13, 13, 13) 0%, rgb(13, 13, 13) 14.286%,rgb(21, 21, 21) 14.286%, rgb(21, 21, 21) 28.572%,rgb(30, 30, 30) 28.572%, rgb(30, 30, 30) 42.858%,rgb(38, 38, 38) 42.858%, rgb(38, 38, 38) 57.144%,rgb(46, 46, 46) 57.144%, rgb(46, 46, 46) 71.43%,rgb(55, 55, 55) 71.43%, rgb(55, 55, 55) 85.716%,rgb(63, 63, 63) 85.716%, rgb(63, 63, 63) 100.002%);

    .playlist--image__wrapper {
        flex: 0 0 30rem;
        padding-right: 4.5rem;

        img {
            box-shadow: $box-shadow;
        }

    }

    .playlist--text__wrapper {
        flex: 0 1 100%;
        display: flex;
        flex-flow: column wrap;

        .playlist--title__wrapper {

            h1 {
                font-size: 4.5rem;
                font-weight: 600;
                max-width: 100%;
                margin-bottom: 1rem;
            }
            
        }

        .playlist--by__wrapper {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 2rem;

            .by {
                color: $color-greyscale-4;
            }

            .artist {
                color: $color-greyscale-1;
            }

        }

        .playlist--label__wrapper {

            .release {
                color: $color-greyscale-4;
            }

        }

        .playlist--play__wrapper {
            margin-top: 3rem;

            button {
                color: $color-greyscale-0;
                // background-color: $color-brand-4;
                border: 0.1rem solid $color-brand-4;

                &:hover {
                    background-color: $color-brand-4;
                    color: $color-greyscale-0;
                }

            }
            
        }

    }

}

/*---------------------------
** ALBUM TRACKS
**---------------------------*/

.playlist--tracks__wrapper {
    padding: 6rem 8rem;

    & > div:first-of-type {
        border-top: none;

        .track--number {
            padding-left: 6rem;
            color: $color-greyscale-5;
        }

    }

    .playlist--track__wrapper {
        display: flex;
        flex-flow: row nowrap;
        padding: 2rem;
        border-top: 0.1rem solid $color-greyscale-6;
        transition: box-shadow 0.3s;
        cursor: default;

        .track--number {
            flex: 0 1 10rem;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            span {
                flex: 0 1 3rem;
                color: $color-greyscale-3;
                // visibility: visible; opacity: 1;
                // transition: visibility 0.3s, opacity 0.3s;
            }

            button {    
                margin-right: 3rem;
                margin-left: 0.1rem;
                flex: 0 1 3.4rem;
                width: 3.4rem; height: 3.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.8rem;
                border: none; background-color: transparent;
                cursor: pointer;
                // position: absolute;
                // top: -0.5rem; left: -0.4rem;
                border: 0.2rem solid $color-greyscale-3;
                overflow: hidden;
                border-radius: 50%;

                // visibility: hidden; opacity: 0;
                // transition: border-color 0.3s;

                // &:hover {
                //     //border-color: $color-brand-4;

                //     svg {
                //         path {
                //             stroke: $color-greyscale-3;
                //         }
                //     }

                // }

                > div {
                    width: 1.2rem; height: 1.2rem;

                    svg {
                        height: 1.2rem;
                        position: relative;
                        left: 0.1rem;
                    
                        path {
                            stroke: $color-greyscale-3; 
                            transition: stroke 0.3s;
                        }

                    }

                }

            }

            

        }

        .track--title {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            

            .title {
                color: $color-greyscale-0;
            }

            .artists {
                color: $color-greyscale-3;
            }

        }

        .track--duration {
            align-self: flex-end;
            text-align: right;
        }

        &.playing  {

            .track--title {

                .title {
                    color: $color-brand-4;
                }
            }

            .track--number {

                span {
                    color: rgba($color-brand-4, 0.7);
                }

                button {
                    border-color: $color-brand-4;
                }
    
                // svg path {
                //     fill: $color-brand-4;
                // }
    
                svg path {
                    stroke: $color-brand-4;
                }
            }          

        }

    }

    

}