/*---------------------------
** IMPORTS
**---------------------------*/

@import '../../Theme/Variables.scss';


/*---------------------------
** PLAYLISTS LIST
**---------------------------*/

.playlists__outer-wrapper {
    padding: 6rem 8rem;

    h1 {
        margin-bottom: 2rem;
    }

}

.playlists--list__wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -2rem;  
    position: relative;   
    align-items: baseline;

    .square {
        width: 100%;
        position: relative;
        z-index: 999;

        .playlist--play__wrapper {
            position: absolute;
            opacity: 0; visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
            z-index: 777;
            width: 100%;
            height: 100%;
            background-color: rgba($color-greyscale-8, 0.6);
        }

    }

    .playlists--header__wrapper {
        flex: 0 1 100%;
        margin: 0rem 2rem 5rem;
        padding-top: 0.5rem;

        display:flex;
        justify-content: space-between;
        width: calc(100% - 4rem);
    }

    .playlists--search-case {
        flex: 0 1 100%;
        display: flex;
        align-items: center;
        width: calc(100% - 4rem);
        margin: 0rem 2rem 5rem;
        justify-content: space-between;
        

        span {
            font-size: 1.8rem;
            font-style: italic;
            color: $color-brand-1;
        }

        span.form--button__wrapper {
            margin-left: 2rem;

            button {
                color: $color-brand-1;
            }

        }

    }

    .playlist--cover__wrapper {
        //position: absolute;
        top: 0; left: 2rem;
        width: calc(100% - 4rem);
        background-color: transparent;
    }

    .playlists--item__wrapper {
        flex: 0 1 calc(100% / 4);
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: center;
        padding: 2rem;
        padding-top: 0;
        text-decoration: none;     
        margin-bottom: 2rem;   

        & > div {
            flex: 0 1 100%;
            justify-content: center;
            align-items: center;
            text-align: left;

            &.playlist--title__wrapper {
                font-size: 1.5rem;
                margin-top: 1.5rem;
                font-weight: 500;
                color: $color-greyscale-1;

                a {
                    display: block;
                    text-decoration: none; 

                    &:hover {
                        text-decoration: underline;
                    }

                }

            }

            &.playlist--artists__wrapper {
                color: $color-greyscale-3;
                margin-top: 1rem;
                font-size: 1.4rem;
                
            }

        }

        button {    
            //margin-right: 3rem;
            //margin-left: 0.1rem;
            flex: 0 1 3.4rem;
            width: 8rem; height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8rem;
            border: none; background-color: transparent;
            cursor: pointer;
            // position: absolute;
            // top: -0.5rem; left: -0.4rem;
            border: 0.2rem solid $color-greyscale-1;
            overflow: hidden;
            border-radius: 50%;
            background-color: rgba($color-greyscale-9, 0.7);
            z-index: 888;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            > div {
                width: 3rem; height: 3rem;

                svg {
                    height: 3rem;
                    position: relative;
                    left: 0.3rem;
                    z-index: 999;
                
                    path {
                        stroke: $color-greyscale-1; 
                        transition: stroke 0.3s;
                    }

                }

            }

        }

    }

}

@media only screen and (min-width: 1920px) {
    /* this is the same as not using a media query... */
    .playlists--list__wrapper .playlists--item__wrapper {
        flex: 0 1 calc(100% / 6);
    }
 
}

@media only screen and (min-width: 2400px) {
    /* this is the same as not using a media query... */
    .playlists--list__wrapper .playlists--item__wrapper {
        flex: 0 1 calc(100% / 8);
    }
 
}

// @media only screen and (min-width: 2500px) {
//     /* this is the same as not using a media query... */
//     .playlists--list__wrapper .playlists--item__wrapper {
//         flex: 0 1 calc(100% / 9);
//     }
 
// }