/*---------------------------
** IMPORTS
**---------------------------*/

@import '../Theme/Variables.scss';

/*---------------------------
** APPLICATION WRAPPER
**---------------------------*/

.application__outer-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;

    .content__outer-wrapper {
        flex: 1 1 100%;
        display: flex;
        //flex-flow: row wrap;
        flex-flow: column nowrap; /* ! */
        height: calc(100vh - 9.6rem);

        .navigation__outer-wrapper {
            flex: 0 1 auto;
            max-height: 100%;
            background-color: $color-greyscale-9;
            border-right: 0.1rem solid $color-greyscale-8;
            //padding: 6rem 0;
            padding: 2rem 0rem; /* ! */
            box-shadow: $box-shadow;
            height: 8.8rem;

            border-bottom: 0.1rem solid $color-greyscale-8;
        }
    
        .page__outer-wrapper {
            flex: 1 0 auto;
            background-color: #1e1e1e;

            > div > div {
                overflow-x: hidden !important;
                // height: calc(100vh - 8.8rem - 9.6rem);
                // overflow: auto;
            }

        }

    }    

    .music-player__outer-wrapper {
        flex: 0 0 100%;
        height: 9.6rem;
    }

}