/*---------------------------
** IMPORTS
**---------------------------*/

@import '../Theme/Variables.scss';

/*---------------------------
** NAVIGATION WRAPPER
**---------------------------*/

/*---------------------------
** NAVIGATION WRAPPER
**---------------------------*/

.navigation__outer-wrapper {
    display: flex;
    flex-flow: column wrap;

    position: relative;
    z-index: 9;
    //box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.15);

    .logo__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-left: 2rem;

        display: none;

        svg {
            fill: $color-brand-3;
            width: 8rem; height: auto;
        }   

    }

    #main-nav {
        flex: 1 0 auto;
        display: flex;
        //flex-flow: column nowrap;
        flex-flow: row wrap; /* ! */
        //justify-content: center;
        //padding-top: 3.5rem;
        text-align: center;

        justify-content: center; /* ! */
        //uncomment all the of /* ! */ if the menu has to be on the side again
        
        
        a {
            display: block;
            text-decoration: none;
            display: flex;
            align-items: center;
            //padding: 1.5rem 8rem 1.5rem 2rem;
            padding: 1.5rem 2rem 1.5rem 2rem;
            justify-content: left;
            text-align: center;
            

            .nav-text {
                font-size: 1.4rem;
                font-weight: 500;
                //letter-spacing: 0.15rem;
                
                display: block;
                text-transform: uppercase;
                color: $color-greyscale-3;
                transition: color 0.3s;
            }

            &:hover .nav-text {
                color: $color-greyscale-1;
            }

            &.active {
                position: relative;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    z-index: 3;
                    //width: 0.3rem; height: 3rem;
                    width: 100%; height: 0.3rem; /* ! */
                    //top: 50%; transform: translateY(-50%);
                    bottom: 0; /* ! */
                    background-color: $color-brand-4;
                }

                &:before {
                    content: none;
                    //left: 0;
                    //border-style: solid;
                    //border-width: 50px 0 50px 30px;
                    //border-color: transparent transparent transparent $color-brand-green;

                }

                &:after {
                    //display: none;
                    right: 0;
                    //width: 0;
                    //height: 0;
                    //border-style: solid;
                    //border-width: 50px 30px 50px 0;
                    //border-color: transparent $color-brand-green transparent transparent;
                }

                .nav-text {
                    color: $color-greyscale-0;
                }

            }

        }

    }

}