/*---------------------------
** IMPORTS
**---------------------------*/

@import '../Theme/Variables.scss';

/*---------------------------
** MANAGER WRAPPER
**---------------------------*/

.manager__outer-wrapper {
    padding: 6rem 8rem;
    flex-flow: row wrap;

    a {
        display: flex;
        flex: 0 1 100%;
        text-transform: uppercase;
        padding: 2rem 0;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: $color-brand-4;
        }

    }

}

