/*---------------------------
** IMPORTS
**---------------------------*/

@import '../Theme/Variables.scss';


/*---------------------------
** TABLE HEADER
**---------------------------*/

.link--btn__back,
.button--btn__back {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 4rem;
    align-items: center;
    text-decoration: none;

    .icon__wrapper {
        width: 1rem;
        display: flex;
        align-items: center;
        height: 100%;

        svg {
            width: 1rem;
            fill: $color-greyscale-1;
        }

    }

    span {
        margin-left: 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 300;
        text-decoration: none;
        transition: color 0.3s;
        color: $color-greyscale-1;
    }

    &:hover {
        span {
            color: $color-brand-4;
        }

        svg {
            fill: $color-brand-4;
        }

    }

}

