/*---------------------------
** IMPORTS
**---------------------------*/

@import '../../Theme/Variables.scss';

/*---------------------------
** ALBUM SUBMIT FORM
**---------------------------*/

.album--submit__outer-wrapper {
    padding: 6rem 8rem;

    form.album--scrape {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 4rem;

        .group-left {
            flex: 0 1 48%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            .form--button__wrapper {
                margin-top: 4rem;
            }

            .message {
                margin-top: 4rem;
            }

        }

    }

    form.album--submit {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h3 {
            margin-bottom: 2rem;
        }

        .group-left {
            flex: 0 1 48%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            .form--button__wrapper {
                margin-top: 4rem;
            }

            .message {
                margin-top: 4rem;
            }

        }

        .group-right {
            flex: 0 1 48%;
            padding-right: 2rem;

            .form--section__wrapper {
                margin-bottom: 4rem;
            }

            .form--button__wrapper {
                margin-bottom: 4rem;
            }

        }

    }

}