/*---------------------------
** IMPORTS
**---------------------------*/

@import '../../Theme/Variables.scss';

/*---------------------------
** SEARCH BAR
**---------------------------*/

.search-bar__outer-wrapper {

    .input--search__wrapper form {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        label {
            border: 0.1rem solid $color-greyscale-2;
            padding: 0.1rem 2rem;
            border-right: none;

            .icon__wrapper {
                border: 0.1rem solid transparent;
                border-right: none;
                padding: 1.2rem 0 1rem 0;

                svg {
                    width: 2rem;
                    fill: $color-greyscale-2;
                }

            }

        }

        input {
            background: transparent;
            border: 0.1rem solid transparent;
            padding: 1.5rem 3rem 1.6rem;
            border-left: none;
            font-size: 1.6rem;
            border: 0.1rem solid $color-greyscale-2;
            color: $color-greyscale-1;
        }

    }

}