/*---------------------------
** AUTOFILL
**---------------------------*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    font-size: 1.6rem;
    font-weight: 300;
}

/*---------------------------
** FOCUS
**---------------------------*/

*:focus {
    outline: none;
}

.form-section--title__wrapper {

    h3 {
        margin-right: 2rem;
    }

}

/*---------------------------
** PLACEHOLDERS
**---------------------------*/

::placeholder {
    font-size: 1.4rem;
    color: $color-greyscale-3;
}

/*---------------------------
** TEXT INPUT
**---------------------------*/

.form--input__wrapper {
    display: block;
    border-bottom: none;

    label {
        display: block;
        font-size: 1.6rem;
        color: $color-greyscale-4;
        padding: 1.6rem 2.6rem 0.6rem 2.6rem;
    }

    input {
        padding: 1.8rem 0 1.8rem 0;
        font-size: 1.6rem;
        font-weight: 400;
        height: 6rem;
        background: transparent;
        color: $color-brand-4;
        max-height: 6rem;
        width: 100%;
        border: none;
        border-bottom: 0.1rem solid $color-greyscale-5;

        &:focus {
            border-color: $color-brand-4;
        }
        
    }

}

/*---------------------------
** BUTTON
**---------------------------*/

.form--button__wrapper {

    button {
        background-color: transparent;
        border: none;
        padding: 1rem 2rem;
        text-transform: uppercase;
        cursor: pointer;
        border: 0.1rem solid $color-greyscale-3;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-brand-4;
        transition: border-color 0.3s, background-color 0.3s, color 0.3s;

        &:hover {
            border-color: $color-brand-2;
            background-color: $color-brand-2;
            color: $color-greyscale-0;
        }
    }

    button.button--text {
        border: none;
        padding: 1rem 0;
        position: relative;
        display: inline-block;
        font-size: 1.4rem;

        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0; left: 0;
            width: 100%; height: 0.1rem;
            transform: translateY(0);
            transition: transform 0.3s;
            background-color: $color-greyscale-4;
        }

        &:hover {
            background-color: transparent;
            color: $color-brand-0;

            &:before {
                transform: translateY(-0.5rem);
            }
            
        }

    }

}

