/*---------------------------
** GLOBAL STYLES
**---------------------------*/

html,
body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: black;
}

html {
    font-size: 62.5%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

svg {
    transition: fill 0.3s;
}

a {
    color: $color-greyscale-1;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin-bottom: 2rem;
    color: $color-greyscale-1;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}