/*---------------------------
** MESSAGES
**---------------------------*/

.message {
    display: inline-block;
    border: 0.1rem solid transparent;
    padding: 2rem;

    .message--text {
        font-weight: 300;
    }

    &.message--error {
        background-color: #F2DEDE;
        border-color: #ebccd1;

        .message--text {
            color: #a94442;
        }

    }

    &.message--success {
        background-color: #dff0d8;
        border-color: #d6e9c6;

        .message--text {
            color: #3c763d;
        }

    }

    &.message--warning {
        background-color: #fcf8e3;
        border-color: #faebcc;

        .message--text {
            color: #8a6d3b;
        }
    }

    &.message--info {
        background-color: #d9edf7;
        border-color: #bce8f1;

        .message--text {
            color: #31708f;
        }
    }

}