/*---------------------------
** COLORS
**---------------------------*/

$color-greyscale-0:     #FFFFFF;
$color-greyscale-1:     #dfdfdf;
$color-greyscale-2:     #c7c7c7;
$color-greyscale-3:     #afafaf;
$color-greyscale-4:     #979797;
$color-greyscale-5:     #757575;
$color-greyscale-6:     #5a5a5a;
$color-greyscale-7:     #464646;
$color-greyscale-8:     #222222;
$color-greyscale-9:     #141414;

$color-brand-0:         #ececec;
$color-brand-1:         #d4d4d4;
$color-brand-2:         #385170;
$color-brand-3:         #142d4c;
$color-brand-4:         #1DB954;

$color-brand-bg:        #212121;
$color-brand-bg-2:      #202020;

$box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);

/*---------------------------
** SIZES
**---------------------------*/

$width-max-width:       90%;